/*
Tons Escuros (do mais escuro para o mais claro):
Café forte: #331907 (Quase preto)
Café com especiarias: #800000 (Um vermelho escuro)
Expresso: #663300 (Marrom escuro)
Chocolate quente: #5C3317 (Marrom mais claro que o expresso)
Mocha: #4B3828 (Marrom mais claro ainda)

Tons Suaves (do mais escuro para o mais claro):

Café com chocolate: #8B6969 (Um marrom mais avermelhado)
Cappuccino: #B4A486 (Um marrom mais claro e quente)
Café com leite: #D1C4A9 (Um bege mais claro)
Café com creme: #E8D4C4 (Um bege mais claro ainda)
Bege café: #F5F5DC (Quase branco)
*/

:root {
    --backgrond_color: #5C3317;
}

.switch_background {
    position: absolute;
    top: 24px;
    left: 24px;

    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 14px;
}
.switch_background span {
    color: #ffffff;
    cursor: pointer;
}
.area{
    background: var(--backgrond_color);  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
    position: absolute;
    z-index: -1;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}